<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <!-- Start: ♣ Filterable Cards ♣ -->
    <section class="py-5">
        <!-- Start: Cards container -->
        <div class="container" style="background-color: #efefef;">
            <!-- Start: Title -->
            <h1 class="text-center mb-4">HEALTH AND YOGA</h1>
            <!-- End: Title -->
            <!-- Start: filter controls -->
            <div class="filtr-controls text-center lead text-uppercase mb-3"><span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all </span><span class="d-inline-block mx-3 py-1 position-relative" data-filter="1">Diabetes </span><span class="d-inline-block mx-3 py-1 position-relative"
                    data-filter="2">Asthma</span><span class="d-inline-block mx-3 py-1 position-relative" data-filter="3">Obesity</span></div>
            <!-- End: filter controls -->
            <!-- Start: Cards -->
            <div class="row filtr-container">
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="2">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Sukhasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/sukhasana.webp">
                        <div class="card-body">
                            <p class="card-text">This is the most basic yoga asana which broadens the collarbones and chest. It calms the mind, enhances the condition of peacefulness and serenity. Thus it kicks out anxiety, stress, and mental tiredness.</p>
                        </div>
                        <!-- Start: Card footer -->
                        
                        <!-- End: Card footer -->
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Ushtrasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/Ushtrasana.webp">
                        <div class="card-body">
                            <p class="card-text">This asana reduces fat on thighs and strengthens the shoulders and back. Ustrasana expands the abdominal region, improving digestion and relieves lower back pain.<br></p>
                        </div>
                        
                        
                        
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Ardh Matsyendrasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/Ardhya Matsyendrasana.jpg">
                        <div class="card-body">
                            <p class="card-text">Ardha Matsyendrasana tones and strengthens abs and obliques and also stretches and energizes the spine. The yoga opens the shoulders, neck, and hips, thus increases flexibility.<br></p>
                        </div>
                       
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="2">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Ardh Chakrasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/ArdhChakrasana.webp">
                        <div class="card-body">
                            <p class="card-text">Effective to reduce stomach and thighs fat.
                                Stimulates pancreas and controls high blood sugar.
                                Improves lungs capacity.
                                Brings flexibility to your spine and back muscles.
                                Tones arms, thighs, waist, and shoulders.<br></p>
                        </div>
                       
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1,2">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Dhanurasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/Dhanurasana.jpg">
                        <div class="card-body">
                            <p class="card-text">Dhanurasana gives maximum stretch on the abdomen and abdominal sides. Regular practice of this asana helps to shed and burn fat of regions of the body. It also provides overall toned shaped to the entire body.<br></p>
                        </div>
                        
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Supta Matsyendrasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/Supta Matsyendrasana.jpg">
                        <div class="card-body">
                            <p class="card-text">Supta Matsyendrasana is a gentle twist that massages the abdominal organs, helping the kidneys and liver, facilitating digestion and reducing constipation. It stretches the glutes and back, allowing a release in the hips, and opens tight shoulders.<br></p>
                        </div>
                        
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="3">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Titli asana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/Titli asana.webp">
                        <div class="card-body">
                            <p class="card-text">Prepares your legs for cross-legged pose/lotus pose (padmasana) which involves meditation.
                                Stretches your inner thighs and knees.
                                Reduces fatigue and helps relieve anxiety and stress.
                                Helps in preparing for delivery.<br></p>
                        </div>
                        
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Bhujangasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/bhujangasana.webp">
                        <div class="card-body">
                            <p class="card-text">Opens up the shoulders and neck. 
                                Tones the abdomen.
                                Strengthens the entire back and shoulders.
                                Improves flexibility of the upper and middle back.</p>
                        </div>
                        
                    </div>
                </div>
                <!-- End: Card column -->
                <!-- Start: Card column -->
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="card border-dark">
                        <!-- Start: Card header -->
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Paschimottanasana</h5>
                        </div>
                        <!-- End: Card header --><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/Paschimottanasana.jpg">
                        <div class="card-body">
                            <p class="card-text">This asana calms the mind and also relieves mild depression and stress. Menopause and menstrual discomfort can be combatted with this asana. The kidneys, liver, uterus, and ovaries are activated by practising this asana regularly.<br></p>
                        </div>
                       
                    </div>
                </div>
                <!-- End: Card column -->
            </div>
            <!-- End: Cards -->
        </div>
        <!-- End: Cards container -->
    </section>
    <!-- End: ♣ Filterable Cards ♣ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>